---
---

@import  "{{ site.theme }}";

body {
  background-color:#ffffff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.content-boxes {
    margin: 24px 0px;
    border: 1px solid #333;
    padding: 24px;
    border-radius: 25px;
    background-color: #F2F2F2;
    color: #000;
  }

.button {
    display: flex;
    padding: 16px;
    cursor: pointer;
    background-color: #93bd20;
  }

